.root {
  background-color: #0f172a;
}
.hN {
  color: var(--Color, #fff);

  /* Navigation */
  font-family: DM Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 25.2px */
  letter-spacing: -0.63px;
}
